<%- include('sidebar')%>
<h2 class="card-title">Edit Password Dinas</h2>

<% if (success) { %>
  <div class="bg-green-500 text-white p-3 rounded mb-4">
    <p><%= success %></p>
  </div>
<% } %>
<% if (error) { %>
  <div class="bg-red-500 text-white p-3 rounded mb-4">
    <p><%= error %></p>
  </div>
<% } %>

<form method="post" action="/admin/changePass/<%= dinas.id_dinas %>">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input type="password" placeholder="Password" class="input input-bordered" name="password" required />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Confirm Password</span>
    </label>
    <input type="password" placeholder="Confirm Password" class="input input-bordered" name="confirmPassword" required />
  </div>
  <div class="form-control mt-6">
    <button type="submit" class="btn btn-primary">Tambah</button>
  </div>
</form>
<%- include('footer')%>