<%- include('dinas/layout/sidebar')%>
<div class="px-8 py-6 bg-white">
    <form method="post" action="/dinas/profile">
        <div class="form-control">
            <label class="label">
                <span class="label-text">Username</span>
            </label>
            <input type="text" placeholder="Username" class="input input-bordered" name="username" value="<%= dinas.dataUser.username %>" required />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Nama Dinas</span>
            </label>
            <input type="text" placeholder="Dinas" class="input input-bordered" name="dinas" value="<%= dinas.nama_dinas %>" required />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Deskripsi</span>
            </label>
            <input type="text" placeholder="Dinas" class="input input-bordered" name="deskripsi" value="<%= dinas.deskripsi %>" required />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Nama Kepala Dinas</span>
            </label>
            <input type="text" placeholder="Dinas" class="input input-bordered" name="nama_kadin" value="<%= dinas.nama_kadin %>" required />
        </div>
        
        <div class="form-control">
            <label class="label">
                <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="Password" class="input input-bordered" name="password" required />
        </div>

        <div class="form-control mt-7">
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</div>

<%- include('dinas/layout/footer')%>
