<%- include('admin/sidebar')%>
<div class="px-8 py-6 bg-white">
    <form method="post" action="/user/profile">
        <div class="form-control">
            <label class="label">
                <span class="label-text">Username</span>
            </label>
            <input type="text" placeholder="Username" class="input input-bordered" name="username" value="<%= dinas.User.username %>" required />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Dinas</span>
            </label>
            <input type="text" placeholder="Dinas" class="input input-bordered" name="dinas" value="<%= dinas.nama_dinas %>" required />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Jabatan</span>
            </label>
            <select name="role" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                <option value="" disabled <%= dinas.User.role ? '' : 'selected' %>>Pilih Jabatan</option>
                <option value="admin" <%= dinas.User.role === 'admin' ? 'selected' : '' %>>Admin</option>
                <option value="user" <%= dinas.User.role === 'user' ? 'selected' : '' %>>User</option>
            </select>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="Password" class="input input-bordered" name="password" required />
        </div>

        <div class="form-control mt-7">
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</div>

<%- include('admin/footer')%>
