<%- include('../layout/sidebar')%>
<div class="px-8 py-6 bg-white">
    <form method="post" action="/dinas/proker/edit/<%= proker.id_proker %>">
        <div class="form-control">
            <label class="label">
                <span class="label-text">Nama Program Kerja</span>
            </label>
            <input type="text" placeholder="Nama Program Kerja" class="input input-bordered" name="nama_proker" value="<%= proker.nama_proker %>" />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Penanggung Jawab</span>
            </label>
            <select
                multiple
                id="countries_multiple"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                name="anggota"
            >
                <option <%= proker.dataAnggota === null ? 'selected' : '' %> disabled>Pilih Anggota (tahan Ctrl untuk multiple)</option>
                <!-- <% anggota.forEach(anggota => { %>
                    <option value="<%= anggota.id_anggota %>" <%= proker.dataAnggota.id_anggota === anggota.id_anggota ? 'selected' : '' %>><%= anggota.nama_anggota %></option>
                <% }) %> -->
                <% anggota.forEach(anggota => { %>
                    <option value="<%= anggota.id_anggota %>" <%= proker.dataAnggota.some(data => data.id_anggota === anggota.id_anggota) ? 'selected' : '' %>><%= anggota.nama_anggota %></option>
                <% }) %>
            </select>

        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Bentuk Kegiatan</span>
            </label>
            <input type="text" placeholder="Bentuk Kegiatan" class="input input-bordered" name="kegiatan" value="<%= proker.kegiatan %>" />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Tujuan</span>
            </label>
            <input type="text" placeholder="Tujuan" class="input input-bordered" name="tujuan" value="<%= proker.tujuan %>" />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Sasaran Kegiatan</span>
            </label>
            <input type="text" placeholder="Sasaran Kegiatan" class="input input-bordered" name="sasaran" value="<%= proker.sasaran %>" />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Waktu Pelaksanaan</span>
            </label>
            <div class="relative max-w-sm">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <input
                    datepicker
                    id="default-datepicker"
                    type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Select date"
                    name="target_waktu"
                    value="<%= proker.target_waktu %>"
                />
            </div>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Status</span>
            </label>
            <select name="status" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                <option value="belum terlaksana" <%= proker.status === 'belum terlaksana' ? 'selected' : '' %>>Belum Terlaksana</option>
                <option value="berjalan" <%= proker.status === 'berjalan' ? 'selected' : '' %>>Berjalan</option>
                <option value="terlaksana" <%= proker.status === 'terlaksana' ? 'selected' : '' %>>Terlaksana</option>
            </select>
        </div>
        <div class="form-control grid grid-cols-2">
            <div>
                <label class="label">
                    <span class="label-text">Tempat</span>
                </label>
                <input type="text" placeholder="Tempat" class="input input-bordered w-4/6" name="tempat" value="<%= proker.tempat %>" />
            </div>
            <div>
                <label class="label">
                    <span class="label-text">Anggaran Dana</span>
                </label>
                <input type="text" placeholder="Anggaran Dana" class="input input-bordered w-4/6" name="anggaran" value="<%= proker.anggaran %>" />
            </div>
        </div>

        <div class="form-control mt-7">
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</div>

<%- include('../layout/footer')%>
